@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="~/Scripts/googlechartsetup.js"></script>

<br/>
<div class="row">
    <div class="col-md-6">
        <div id="bar_chart" style="border: 1px solid #ccc"></div>
    </div>
    <div class="col-md-6">
        <div id="pie_chart" style="border: 1px solid #ccc"></div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-12">
        <div id="table_chart" style="border: 1px solid #ccc"></div>
    </div>
</div>